<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar o aplicativo ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    
    
    <httpRuntime targetFramework="4.5" />

    <sessionState timeout="1"/>
    <trace enabled="true" localOnly="true"/>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="EC.Common"/>
        <add namespace="System.Data"/>
        <add namespace="System.Web"/>
        <add namespace="EC.UI.WebControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="uwc" namespace="EC.UI.WebControls" assembly="EC.UI.WebControls"/>
        <add tagPrefix="sgi" namespace="EC.UI.WebControls" assembly="EC.UI.WebControls"/>
        <add tagPrefix="actk" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="rep" assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms"/>
      </controls>
    </pages>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH">
    </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ApplicationName" value="EC"/>
    <add key="NameApplication" value="Espaço Coordenador - UniCEUB"/>
    <add key="RegisteredConnectionString" value="false"/>
    <add key="EncryptedConnectionString" value="false"/>
    <!--<add key="PathFileAlert" value="D:\TFS\SGI\Fonte\Dev\Carcara\UI.Web.EA\"/>
    <add key="PathImage" value="D:\TFS\SGI\Fonte\Dev\Carcara\UI.Web.EA\Images\"/>
    <add key="NameFileAlert" value="Error.xml"/>-->
    <add key="ValidSession" value="true"/>
    <!--// Limites de solicitações abertas por aluno no protocolo //-->
    <add key="net.bing.api.search" value="http://api.bing.net/soap.asmx"/>
    <add key="NameApplication" value="Espaço Coordenador"/>
    <add key="StaticUrl" value="http://localhost:8754"/>
    <add key="ScriptVersion" value="0.1"/>
    <!--// Integração Minha Biblioteca //-->
    <add key="TokenAccess" value="ojVGU0sztEH2lNn4iTr81rVm4iejuy7BED8EbkJXfvo="/>
  </appSettings>

  <connectionStrings>
    <add name="ECEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOCALHOST\SQLEXPRESS;initial catalog=EC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>