.ajax-modalbackground {
	background-color:#ffffff;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.ajax-default
{
    padding:10px 15px 10px 15px;
    font-size:11px;
    color:#666666;
    text-align:center;
    background-color:#ffffff;
    border:solid 1px #f1f1f1;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    border-radius: 8px;
}

div#ajax-updating
{
    position:absolute;
	top: 50%;
	left: 50%;
	/*width*/
	width:20em;
	margin-left: -10em; /*set to a negative number 1/2 of your width*/
	/*height*/
	/*height:18em;
	margin-top: -9em;*/ /*set to a negative number 1/2 of your height*/
	
}

div#ajax-updating-timer .ajax-updating-timer
{
	background-color:#fff;
	color: #666;
	padding: 0.15em;
}