.tip-twitter, .tip-twitter-calendar, .tip-rede, .tip-info, .tip-info-calendar {
	opacity:1;
	z-index:1000;
	text-align:left;
	border:1px solid #d2d2d2;
    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:8px 8px;
	max-width:400px;
	color:#494848;
	background-color:#e9e8e8;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}

.tip-info {
    background-color:#fff;
}

.tip-twitter-calendar 
{
    background-color:#ffffff;
    max-width:400px;
}

.tip-twitter .tip-inner, .tip-twitter-calendar .tip-inner {
	/*font:bold 11px/14px 'Lucida Grande',sans-serif;*/
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-twitter .tip-arrow-top, .tip-twitter-calendar .tip-arrow-top
{
    	margin-top:-5px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(Images/tip-twitter_arrows.gif) no-repeat;
}
.tip-info .tip-arrow-top, .tip-twitter-calendar .tip-arrow-top, .tip-rede .tip-arrow-top
 {
	margin-top:-5px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(Images/tip-info_arrows.gif) no-repeat;
}
.tip-twitter .tip-arrow-right, .tip-twitter-calendar .tip-arrow-right
{
   	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(Images/tip-twitter_arrows.gif) no-repeat -9px 0; 
}

.tip-info .tip-arrow-right, .tip-twitter-calendar .tip-arrow-right, .tip-rede .tip-arrow-right
 {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(Images/tip-info_arrows.gif) no-repeat -9px 0;
}
.tip-twitter .tip-arrow-bottom, .tip-twitter-calendar .tip-arrow-bottom
{
    	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(Images/tip-info_arrows.gif) no-repeat -18px 0;
}
.tip-info .tip-arrow-bottom, .tip-twitter-calendar .tip-arrow-bottom, .tip-rede .tip-arrow-bottom 
 {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(Images/tip-info_arrows.gif) no-repeat -18px 0;
}
.tip-twitter .tip-arrow-left, .tip-twitter-calendar .tip-arrow-left
{
    	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(Images/tip-twitter_arrows.gif) no-repeat -27px 0;
}
.tip-info .tip-arrow-left, .tip-twitter-calendar .tip-arrow-left, .tip-rede .tip-arrow-left
 {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(Images/tip-info_arrows.gif) no-repeat -27px 0;
}

/* Tip-Rede */

.tip-rede {
    background-color:#000;
    color:#fff;
    border:none;
}

.tip-rede .tip-arrow-bottom 
{
    background:url(Images/tip-rede_arrows.gif) no-repeat -18px 0;
}

.tip-rede .tip-arrow-left 
{
    background:url(Images/tip-rede_arrows.gif) no-repeat -27px 0;
}

.tip-rede .tip-arrow-top 
{
    background:url(Images/tip-info_arrows.gif) no-repeat;
}

.tip-rede .tip-arrow-right 
{
    background:url(Images/tip-rede_arrows.gif) no-repeat -9px 0;
}