/*
html, body {
    width:100%;
    height:100%;
    padding: 0px;
    margin: 0px;
}

div.mb
{
	position: absolute;
	text-align: center;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -225px; Referente ao tamanho da largura da DIV / 2
	margin-top: -75px; Referente ao tamanho da altura da DIV / 2 
	z-index:1677725;
	font-size:11px;
}*/
.mb-main
{
	border: solid 1px #000;
	width: 450px;
	font-family: Tahoma;
	font-size:11px;
	cursor:default;
}
.mb-header
{
	height: 18px;
}
.mb-header-icon
{
	text-align: center;
	padding-left:4px;
	padding-right:5px;
}
.mb-header-caption
{
	width: 100%;
	padding-left: 4px;
	padding-top: 4px;
	text-align:left;
}
.mb-content
{
	border: solid 1px #91a0cb;
	margin: auto;
}
.mb-content-icon
{
	text-align: center;
	vertical-align: top;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	height:50px;
}
.mb-content-text
{
	width: 100%;
	vertical-align: top;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Tahoma;
	font-size:11px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.mb-content-buttons
{
	padding: 8px 5px 5px 5px;
	text-align: right;
	background-color: #eeeeee;
}
.mb-content-button
{
	color: #000;
	background-color: #fff;
	border: solid 1px #3a6a8d;
	width:120px;
	height:20px;
	font-size:11px
}
.mb-content-button-over
{
	color: #000;
	background-color: #fff;
	border: solid 1px #3a6a8d;
	width:120px;
	height:20px;
	font-size:11px
}
.mb-content-button-down
{
	color: #000;
	background-color: #fff;
	border: solid 1px #3a6a8d;
	width:120px;
	height:20px;
	font-size:11px
}
