/*  ALERT INFO  */
div#alertinfo
{
	border: solid 1px #a3a3a2;
	margin-left:auto;
	margin-right:auto;
	color:#000000;
}
div#alertinfo .text
{
	text-align:center;
	background-color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:10px;
	padding-right:10px;	
}
div#alertinfo .buttons
{
	text-align:center;
	background-color:#dfdfdf;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;	
}
div#alertinfo .separator
{
	padding-bottom:1px;
	border-bottom:solid 1px #a3a3a2;
	border-top:solid 1px #a3a3a2;
}
/*  ALERT ERROR  */
div#alerterror
{
	border: solid 1px #b61c21;
	margin-left:auto;
	margin-right:auto;
	color:#b61c21;
}
div#alerterror .text
{
	text-align:center;
	background-color:#fdf7f7;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:10px;
	padding-right:10px;	
}
div#alerterror .buttons
{
	text-align:center;
	background-color:#dfdfdf;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;	
}
div#alerterror .separator
{
	padding-bottom:1px;
	border-bottom:solid 1px #b61c21;
	border-top:solid 1px #b61c21;
}
/*  ALERT WARNING  */
div#alertwarning
{
	border: solid 1px #bfbfbf;
	margin-left:auto;
	margin-right:auto;
	color:#000000;
}
div#alertwarning .text
{
	text-align:center;
	background-color:#fafafa;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:10px;
	padding-right:10px;	
}
div#alertwarning .buttons
{
	text-align:center;
	background-color:#eeeded;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;	
}
div#alertwarning .separator
{
	padding-bottom:1px;
	border-bottom:solid 1px #bfbfbf;
	border-top:solid 1px #bfbfbf;
}

/* ALERT LINK */
div#alertwarning .buttons a:link, a:visited, a:active
{
	font-weight:normal;
	color:#000000;
	font-size:11px;
	text-decoration:underline;
}
div#alertwarning .buttons a:hover
{
	font-weight:normal;
	color:#FF3306;
	font-size:11px;
	text-decoration:none;
}