.chamada-action {
    width: 80px;
    font-size: 180%;
    font-weight: bold;
}

    .chamada-action > div {
        display: inline-block;
        width: 36px;
        color: #e9e8e8;
        cursor: pointer;
    }

.chamada > div {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.chamada-horario {
    width: 100px;
}

.chamada-action > div.selected {
    color: #af1d22;
}

.cabb {
    border-bottom: solid 1px #ededed;
}

td.gridViewscolumnrow > img.set {
    position: inherit;
    bottom: 0px;
}

div.panel-container {
    left: 20px;
    position: relative;
    width: 863px;
    padding: 8px;
    color: #af1d22;
}

div.panel-faltas {
    padding: 0;
    margin-top: 8px;
    position: relative;
    /*border:solid 1px #e9e8e8;  */
    width: 100%;
    display: inline-block;
}

div.aula-ausencia {
    text-align: center;
    float: left;
    border: solid 1px #e9e8e8;
    padding: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 4px 4px 0px 0px;
    background: #fff6d0;
    border: solid 1px #f0e3ab;
    margin-left: 10px;
    margin-top: 10px;
}

.ico-title {
    margin-right: 46px;
}

#mark-all-ausencias {
    position: absolute;
    top: 0px;
    right: 78px;
    color: #ccc;
    width: 10px;
    font-size: 180%;
    font-weight: bold;
}


img.aluno-foto {
    width: 55px;
    height: 66px;
    position: absolute;
    right: 881px;
    transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    -ms-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
}

    img.aluno-foto:hover {
        z-index: 99999;
        position: absolute;
        transform: scale(2.1);
        -webkit-transform: scale(2.1);
        -ms-transform: scale(2.1);
        -moz-transform: scale(2.1);
    }

.foto-align-com-faltas {
    right: 899px !important;
    margin: -31px !important;
}

.foto-align-sem-faltas {
    right: 881px !important;
    margin: -32px !important;
}


td div a b {
    color: grey;
    padding-top: 20px;
    font-weight: bold;
}
