.webpart-notepad {
  background: #fdfad5;
  border: solid 1px #f2eda6;
  width: 290px;
}
.lembrete {
  width: 100%;
  height: 250px;
  border: solid 1px #dadada;
  font-size: 100%;
}
#notepad .label {
  margin-bottom: 5px;
  clear: both;
}
#notepad-input {
  padding: 6px;
  width: 276px;
  height: 250px;
}
