div#phones {
  width: 100%;
  background: #fff;
  margin: auto;
}
div#phones .item {
  position: relative;
  width: 133px;
  height: 46px;
  border: solid 1px #f1f1f1;
  float: left;
  padding: 4px;
  margin: 1px;
  background: #fff;
}
div#phones .title {
  text-align: center;
  padding-bottom: 4px;
  color: #d6474c;
  font-weight: normal;
}
div#phones li ul {
  display: block;
}
div#phones .detail {
  text-align: center;
}
div#phones .detail:hover {
  background: #f1f1f1;
}
